.link {
  display: block;
  width: 100px;
  margin: 20px;
  padding: 5px;
  background-color: rgb(243, 239, 239);
  border: 1px dashed blue;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  text-align: center;
  transition: transform 250ms cubic-bezier(0.47, 0, 0.745, 0.715),
    background-color 250ms cubic-bezier(0.47, 0, 0.745, 0.715);
}

.link:hover,
.link:focus {
  border: 1px solid rgb(166, 166, 245);
  background-color: rgb(213, 233, 247);
  outline: none;
  transform: translate(10px) scale(1.05);
}
